/.idea/
/preconfig/
preconfig.py
output.txt
depol.txt
*.svg
*.png
*.txt
*.db
/run*/
tex_document/main.aux
tex_document/main.bbl
tex_document/main.blg
tex_document/main.log
tex_document/main.out
tex_document/main.synctex.gz
/__pycache__/

/tex_document/main.pdf
*.cpython-310.pyc
