/.idea/
/preconfig/
output.txt
depol.txt
/run*/
tex_document/main.aux
tex_document/main.bbl
tex_document/main.blg
tex_document/main.log
tex_document/main.out
tex_document/main.synctex.gz
/__pycache__/
/scan/
*.pyc
/parameter_scan/*/scan/
/parameter_scan2/*/scan/
/parameter_scan3/*/scan/
/parameter_scan_overlap/*/scan/
/parameter_scan_overlap/*/plots/
experimental_data/plots
/figures_revision/*.svg