[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
preconfig = {editable = true, ref = "master", git = "https://github.com/manulera/preconfig.git"}
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
